/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }


.section-padding {
    padding: 80px 0;
}
.section-title {
    margin-bottom: 50px;
    text-align: center;
}
.section-title h2 {
    font-size: 40px;
}
.section-border span {
    background: none repeat scroll 0 0 #6AAF08;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    width: 50px;
}
.section-border span .black-border {
    background: none repeat scroll 0 0 #333333;
    height: 5px;
    margin: 0 5px;
    width: 30px;
}
.section-border span .black-border {
    background: none repeat scroll 0 0 #333333;
    display: block;
    height: 5px;
    width: 30px;
}
.section-border span.black-border {
    background: none repeat scroll 0 0 #333333;
    margin: 0 5px;
    width: 30px;
}
.client-testimonial-carousel .owl-dots div {
    background: none repeat scroll 0 0 #6AAF08;
    display: inline-block;
    height: 5px;
    margin: 5px;
    transition: all 0.3s ease 0s;
    width: 20px;
}
.client-testimonial-carousel.owl-dots div:active {
    background-color: #333333;
    width: 30px;
}
.client-testimonial-carousel .owl-dots {
    margin-top: 25px;
    text-align: center;
}

.single-testimonial-item {
    box-shadow: 0 0 2px #D5DCCC;
    font-style: italic;
    margin: 2px;
    padding: 20px;
}
.single-testimonial-item:before {
    font-family: fontAwesome;
    content: "\f10e";
}
.single-testimonial-item h3 {
    font-size: 20px;
    font-style: normal;
}
.single-testimonial-item h3 span {
    color: #777777;
    display: block;
    font-size: 12px;
    margin-top: 5px;
}


.single-testimonial-item {
    padding-left: 80px;
    position: relative;
}
.single-testimonial-item:before {
    color: #6AAF08;
    font-size: 25px;
    left: 20px;
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
}
.single-testimonial-item:after {
    background: none repeat scroll 0 0 #D1D1D1;
    content: "";
    height: 70%;
    left: 60px;
    position: absolute;
    top: 15%;
    width: 1px;
}
.single-testimonial-item h3 {
    margin-bottom: 0;
}

